---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ name }}"
  labels:
    app: "{{ name }}"
spec:
  selector:
    matchLabels:
      app: "{{ name }}"
  template:
    metadata:
      labels:
        app: "{{ name }}"
    spec:
      containers:
        - image: "{{ image }}:{{ imageTag }}"
          name: mysql
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - "-c"
                - MYSQL_PWD="${MYSQL_ROOT_PASSWORD}"
                - mysql -h 127.0.0.1 -u root -e "SELECT 1"
            initialDelaySeconds: 30
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            exec:
              command:
                - /bin/sh
                - "-c"
                - MYSQL_PWD="${MYSQL_ROOT_PASSWORD}"
                - mysql -h 127.0.0.1 -u root -e "SELECT 1"
            initialDelaySeconds: 10
            timeoutSeconds: 1
            successThreshold: 1
            failureThreshold: 3
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: mysql-root-password
                  name: "{{ name }}"
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: mysql-password
                  name: "{{ name }}"
            - name: MYSQL_USER
              value: {{ mysqlUser }}
          ports:
            - containerPort: 3306
              name: mysql
          volumeMounts:
            - name: mysql-pv
              mountPath: /var/lib/mysql
            - name: mysql-config
              mountPath: /etc/mysql/conf.d/
      volumes:
        - name: mysql-pv
          persistentVolumeClaim:
            claimName: "{{ name }}"
        - name: mysql-config
          configMap:
            name: "{{ name }}"
