---
apiVersion: v1
kind: Service
metadata:
  name: "{{ name }}"
  labels:
    app: "{{ name }}"
spec:
{% if service.type == 'NodePort' %}
  type: NodePort
  ports:
    - port: {{ service.port }}
      nodePort: {{ service.nodePort }}
{% else %}
  ports:
    - port: {{ service.port }}
{% endif %}
  selector:
    app: "{{ name }}"
